# Node dependencies
node_modules/

# Electron / build outputs
dist/
dist-electron/
out/

# OS & editor junk
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Environment files
.env
.env.local

# Binaries
*.exe
